body {
    background-color: #131639;
}

.main {
    width: 800px;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 2rem;
    color: silver;
    text-align: center;
}

.score {
    font-size: 22px;
    color: black;
    font-weight: 700;
}

.player {
    color: red;
}

.computer {
    color: blue;
}

.playArea {
    display: grid;
    grid-template-columns: 300px 200px 300px;
    column-gap: 10px;
}

.scoreArea {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    justify-self: center;
}

.resultsArea {
    display: grid;
    grid-template-columns: 300px 200px 300px;
    column-gap: 10px;
    padding-bottom: 50px;
}

.icons {
    border-radius: 50%;
    background-color:lightgray;
    max-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid grey;
}

.iconSmall {
    width: 70px;
    height: auto;
}

.iconBig {
    width: 150px;
    height: auto;


}

img {
    transition-property: opacity;
    transition-duration: 2s;
    margin: 10px;
}

.iconSmall:hover {
    transform: scale(1.1);
}

p {
    text-align: center;
    color: lightgray;
}

.hidden {
    visibility: hidden;
}

.fadeOut {
    opacity: 1;
}

.fadeIn {
    opacity: 0;
}

.playerBorderColor {
    border-color: red;
}

.computerBorderColor {
    border-color: blue;
}